/* style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button#redirectButton {
    background-color: #3498db;
    color: #fff;
  }
  
  button#jobButton {
    background-color: #dbd534d5;
    color: #fff;
  }

  button#jobButton:hover {
    background-color: #aea917d5;
  }

  button#redirectButton:hover {
    background-color: #2980b9;
  }
  
  button#profileButton {
    background-color: #e74c3c;
    color: #fff;
  }
  
  button#profileButton:hover {
    background-color: #7c2b22;
  }
  
  .hidden {
    display: none;
  }
  
  #jobFrame {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(20, 3, 30, 0.19);
  }
  
  #jobFrame p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
  } 

  button#pprButton {
    background-color: #b93ce7;
    color: #fff;
  }
  
  button#pprButton:hover {
    background-color: #691258;
  }


  .conainer {
    width: 230px;
    height: 90px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
  }
  
  
  .terminal_toolbar {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#504b45 0%, #3c3b37 100%);
  }
  
  .butt {
    display: flex;
    align-items: center;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  }
  
  .btn-color {
    background: #ee411a;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .butt--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
  }
  
  .user {
    color: #d5d0ce;
    margin-left: 6px;
    font-size: 14px;
    line-height: 15px;
  }
  
  .terminal_body {
    background: rgba(24, 10, 20, 0.9);
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .terminal_promt {
    display: flex;
  }
  
  .terminal_promt span {
    margin-left: 4px;
  }
  
  .terminal_user {
    color: #7eda28;
  }
  
  .terminal_location {
    color: #4878c0;
  }
  
  .terminal_bling {
    color: #dddddd;
  }
  
  .terminal_cursor {
    display: block;
    height: 14px;
    width: 5px;
    margin-left: 10px;
    animation: curbl 1200ms linear infinite;
  }
  
  @keyframes curbl {
    
    0% {
      background: #ffffff;
    }
  
    49% {
      background: #ffffff;
    }
  
    60% {
      background: transparent;
    }
  
    99% {
      background: transparent;
    }
  
    100% {
      background: #ffffff;
    }
  } 

  .cutie {
    width: 80px;
    height: 40px;
    position: absolute;
    padding: 0px;
    top: 0;
    left: 1;
    border: 2px solid rgb(255, 0, 0); 
    box-sizing: border-box; 
    border-radius: 60px;
    background: #1e1e20;
    box-shadow: inset 31px 31px 91px #151517,
                inset -31px -31px 91px #272729;
  }
  

  .texts {
    text-align: center;
    padding: 8px;
    font-size: large;
    text-size-adjust: 60;
    color: white;
    font-weight: bold;
  }
  
